@import "settings";
@import "foundation";

#header-block {
  margin-bottom: 1em;
}

.main-content {
  margin: 0.5em 1em 0 1em;
  position: relative;

  ul {
    list-style: none;
  }
}

nav.qr {
  display: block;
  position: absolute;
  right: 5ex;
  top: 1em;
}

.box-entity, .group-entity {
  display: block;
  position: relative;

  form {
    display: inline-block;

    input, button {
      display: inline-block;
    }
  }

  nav {
    display: none;
    ul {
      display: inline;
      list-style-type: none;

      li, li a {
        display: inline;
      }
    }
  }

  &:hover > nav {
    display: inline;
  }

  .draggable-dropzone {
    display: inline-block;
  }
}

.purchase {
  table {
    width: 100%;

    td.vat {
      width: 9ex;
    }

    td.count {
      width: 9ex;
    }

    td.vat-included {
      width: 5ex;
    }

    td.price {
      width: 12ex;
    }
  }
}

.growl-manager {
  position: fixed;
  top: 3em;
  right: 1em;
  margin: 0;

  left: auto;
}

.growl-instance {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);

  h1, h2, h3, h4 {
    color: #fff;
  }
}

.footprint-summary {
  @extend .row;

  dl {
    @extend .column;
    @extend .small-3;

    dd, dt {
      display: block;
    }
  }
}

.hover-to-see-password {
  color: black;
  background-color: black;
}

button .edit, .button.edit {
  display: inline;

  @include button(
      rem-calc(1), //padding
      rgba(1.0, 1.0, 1.0, 0.00), // transparent
      0, // no radius
      false, // full width
      false, // enabled
      false //is-input
  );
  color: rgba(0.0, 0.0, 0.0, 0.3);

  &:hover {
    color: red;
  }
}