[submodule "doc/deploy/ansible-docker/roles"]
	path = doc/deploy/ansible-docker/roles
	url = git://github.com/MarSik/ansible-roles.git
	branch = master

[submodule "vendor/prometheus-hystrix"]
	path = vendor/prometheus-hystrix
	url = git://github.com/soundcloud/prometheus-hystrix.git

