<div class="row">
{{outlet}}
</div>

<div id="createGroup" class="reveal-modal" data-reveal>
  <h2>Create group</h2>
  <form {{action 'createGroup' on='submit'}}>
  <label for="name">Name:</label>
  {{input id='name' placeholder='Enter group name' value=name required='required'}}
  {{#if selectedGroup}}
  <label for="parent">Parent:
    <div>{{selectedGroup.name}}</div></label>
  {{/if}}
  <input type="submit" value="Create group">
  </form>

  <a class="close-reveal-modal">&#215;</a>
</div>