<button {{action 'createType'}}>{{fa-icon 'plus'}} Create type</button>

<ul>
    {{#each type in this}}
    <li>{{#link-to 'types.show' type}}{{type.name}}{{/link-to}} ({{type.available}})</li>
    {{/each}}
</ul>