<h2>Verification</h2>

<p>Please enter your verification token here:</p>

<form {{action 'verify' token on='submit'}}>
        {{input type='text' value=(mut token) placeholder='paste token here' required=required}}
        <button type="submit">Verify</button>
</form>

{{outlet}}
