<h3>Verification successful</h3>

<p>Verification was completed successfully for:</p>

<dl>
    <dt>Name</dt>
    <dd>{{model.data.name}}</dd>
</dl>

<dl>
    <dt>Email</dt>
    <dd>{{model.data.email}}</dd>
</dl>

<dl>
    <dt>Password</dt>
    <dd class="hover-to-see-password">{{model.data.password}}</dd>
</dl>

<p>
    Select the black box to see (and copy) the password. Please note that this is the only page that will ever display a password. Use it to log in and change it immediately.
</p>
{{outlet}}
