<section id="error-report">
  <h2>{{fa-icon 'exclamation-triangle'}} Application encountered an error.</h2>

  <p class="alert-box warning">The application encountered an error while loading this page section. The detailed description is attached below.</p>

  <pre>{{reason}}</pre>
</section>