<h2>Start new project</h2>
<form {{action 'startProject' projectName on='submit'}}>
    {{input type='text' value=projectName placeholder='project name'}}
    <button type="submit">Create</button>
</form>


<section class="columns small-4">
    <h2>Projects</h2>

    <ul>
        {{#each project in this}}
            <li><a {{action 'projectSelected' project}}>{{project.name}}</a></li>
        {{/each}}
    </ul>
</section>
