<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.marsik.elshelves.android"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="Elshelves_"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- This will allow handling of QR code urls
                     like it is described in http://stackoverflow.com/a/4085365/1996623 //-->
                <data android:scheme="shv"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
