{{#if pendingTransactions}}
<h3>Pending transactions</h3>
<ul>
{{#each trans in pendingTransactions}}
    <li>{{#link-to 'transactions.show' trans}}{{trans.source.name}} / {{trans.date}} / {{trans.name}}{{/link-to}}</li>
{{/each}}
</ul>
{{/if}}

{{outlet}}
