<div class="row">
<section class="columns small-4">
    <h2>Types</h2>

<ul>
{{#each type in this}}
<li>{{#link-to 'types.show' type}}{{type.name}}{{/link-to}}</li>
{{/each}}
</ul>
</section>

    <section class="columns small-8">

    {{outlet}}
        </section>
</div>
