<div class="row">
  {{title-bar class="small-2 columns main-menu" logout=(route-action "invalidateSession") stickerCount=stickers.length cartCount=cart.length searchAction=(route-action 'search')}}

  <div class="small-10 columns">
    <div class="row">
      {{search-bar class="columns small-offset-6 small-6" search=(route-action "search")}}
    </div>

    <section id="error-report">
      <h2>{{fa-icon 'times-circle'}} Application encountered an error:</h2>

      <p class="alert-box error">The application encountered an error. The detailed description is attached below. The only thing you can do now is to refresh the page and try again.</p>

      <pre>{{reason}}</pre>
    </section>
  </div>
</div>
