<form {{action 'createBox' on='submit'}}>
    <label for="name">Name:</label>
    {{input id='name' placeholder='Enter box name' value=name required='required'}}
    <label for="parent">Parent: <div>parent box</div></label>
    <input type="submit" value="Create box">
</form>

<h3>Boxes</h3>

<ul>
    {{#each box in model}}
        {{box-tree box=box}}
    {{/each}}
</ul>

{{outlet}}
